* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

.container {
  display: flex;
  margin-top: 10px;
}

.others {
  display: flex;
  flex: 5;
}

.link {
  text-decoration: none;
  color: inherit;
}
